.rain,.borderBR{
  width: 100%;
  box-sizing: border-box;
}
.borderBR,.rain{
  border-radius: 5px;
  background: #fff;
  color: #525366;
}
.rain{
  margin: 10px auto;
  padding: 10px 12px 12px 10px;
}
.contenttable,.contentbg{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 28px;
  font-size: 16px;
}
.contenttable{
  margin-bottom: 100px;
}
