.header{
  background: #000433;
  width: 100%;
  box-sizing: border-box;
  padding:  12px 9.5vw 0;
  font-family: SF-Pro-Display;

  .logo .active{
    padding:12px;
    display: inline-block;
    border-radius: 12px 12px 0 0;
    background: #F5F5FA;
    color: #000!important;
    font-weight: bold;
    white-space: nowrap;
    height: 100%;
    text-transform: uppercase;
  }
  .noActive{
    padding:12px 12px 12px 0;
    display: inline-block;
  }
}
.navBar{
  display: flex;
  height: 100%;
  align-items: center;
  li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:12px;
    height: 100%;
    text-transform: uppercase;
    margin-left: 20px;
    div{
      width: 100%;
      text-align: center;
    }
    i{
      font-size: 26px;
    }
  }
  .active{

    border-radius: 12px 12px 0 0;
    background: #F5F5FA;
    color: #3241f4!important;
    font-weight: bold;
  }
}
.button1 {
  //width: 200px;
display: inline-block;
  border-radius:2px;
  //padding: 1em 2em;
  //background: none;
  //color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  padding: 4px 22px;

  background: #fff!important;
  color: #3241f4;

}
.button1:focus {
  outline: none;
}
.button1 > span {
  vertical-align: middle;
}


.buttonHeader {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
}
.buttonHeader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #205fee;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.buttonHeader,
.buttonHeader::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.buttonHeader:hover {
  color: #fff;
  border-color: #37474f;
}

.buttonHeader:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header-button{
  select{
    width: 100%;
    text-align: right;
    display: inline-block;
  }
  .topName{
    font-size: 16px;
    span{
      color: #fff;
      //text-transform : uppercase;
      font-weight: bold;
      cursor: pointer;
      //text-decoration: underline;
    }
  }
}
.header-button{
  button{
    background: none;
    border: 0;
    &:focus{
      background: none;
      border: 0;
      outline: none;
      box-shadow: none;
    }
  }
}
