table{
  width: 100%;
  .hashref{
    cursor: pointer;
    text-decoration: underline;
  }
}
td,th{
  padding: 20px;
  border:1px solid #E6E6EB;
}
th{
  background:rgba(0,0,0,0.05);
  white-space:nowrap;
}

.brdr{
  padding: 20px;
  margin-bottom: 30px;
}
//.brdr dl:first-child{
//  margin-bottom: 40px;
//}
.brdr dt{
  color: #000;
  //padding-bottom: 10px;
  //border-bottom: 1px solid rgba(0,0,255,0.3);
  margin-bottom: 10px;
}
.brdr dd{
  line-height: 1.5em;
}
.mb30{
  margin-bottom: 30px;
}
.nobtm li{
  margin: 0;
}
